.imagenes_carrousel{
height: 200px;
width: 200px;
}

.navbar_negro{
    background-color: black;
}

.tipografia_01{
font-size: 36px;
}

.tipografia_02{
font-size: 30px;
}

.encabezado{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.cuadricula{
    margin-top: 100px;
}

.boton_home{
    display: flex;
    justify-content: center;
    text-align: center;
}